@import 'tailwindcss';
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/nosh';

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

[data-theme='nosh'] {
	--heading-font-family: 'Sora', sans-serif;
	--base-font-family: 'Sora', sans-serif;
	--anchor-font-family: 'inherit';
}
